.builder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;

}

.builder button {
    /* display: block; */
    font: inherit;
    padding: 5px;
    margin: 0 12px;
    width: 80px;
    background-color: #9c27b0;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.builder div {
    color: #8b24aa;
    margin: 0 12px;
}